# created by virtualenv automatically
# Python files
*.pyc
*.pkl
*.pt
__pycache__/
tests/__pycache__/
.pytest_cache/
*.pyo

# Virtual environment
.venv/

# Others
.env

nul

/image_test_free.png
/image_test_not_free.png
/video.mp4
/yolov8n.pt
